label {
  margin-top: 2em;
}

form{
  margin-bottom: 2em;
}

.registro {
  color: #D91A1A;
  font-size: 1.1em;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #050723;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h2 {
  font-weight: 600;
  padding-top: 2em;
}

.form-group {
  font-size: 1em;
  margin: 0 auto;
}

.btn-secondary {
  margin-right: 2em;
}

#biografia{
  min-height: 10em;
  margin-bottom: 1em ;
}
