.App {
  min-height: 100vh;
  background-color: #050723;
}

.h1  {
  color: #D91A1A;
  font-weight: 600;
  padding-top: 2em;
}

.h2 {
  font-size: 1.5em;
  margin-bottom: 0.7em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}